<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<servlet>
		<servlet-name>inizio</servlet-name>
		<servlet-class>servlet.Servlet1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>inizio</servlet-name>
		<url-pattern>/inizio</url-pattern>
	</servlet-mapping>
</web-app>
